<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Whack a Bug</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/img/bug.png" width="34" height="40">
            </a>

            <div class="navbar-item">
                Whack-A-Bug
            </div>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="buttons navbar-end">
            <div class="navbar-item">
                <% if (user) { %>
                <a class="button is-light" href="/auth/logout">Log out</a>
                <% } else { %>
                <a class="button is-light" href="/auth/google">Log in</a>
                <a class="button is-primary" href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp">
                    <strong>Sign up</strong>
                </a>
                <% } %>
            </div>
        </div>
        <!-- <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-light">
                      My Account
                    </a>
                  </div>
                </div>
              </div> -->
        </div>
    </nav>



    <figure class="image is-16by9">
        <img src="https://michaelhyatt.com/wp-content/uploads/2017/09/updated-whack-a-mole-1920x1080.jpg">
    </figure>

    <!-- {{!-- Footer --}} -->
    <div class="columns">
        <div class="column is-12 content has-text-centered" id="footer">
            <p>
                <strong>Whack-A-Bug</strong> by <a href="https://www.github.com">ERA</a>. The source code is
                licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </div>


</body>

</html>