<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Whack a Mole</title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- Logo -->
            <a class="navbar-item">
                <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/bug.png" width="34"
                    height="40">
            </a>

            <div class="navbar-item">
                Whack-A-Bug
            </div>
        </div>
        <div class="buttons navbar-end">
            <div class="navbar-item">
                <% if (user) { %>
                <a class="button is-light" href="/auth/logout">Log out</a>
                <% } else { %>
                <a class="button is-light" href="/auth/google">Log in</a>
                <a class="button is-primary" href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp">
                    <strong>Sign up</strong>
                </a>
                <% } %>
            </div>
        </div>
    </nav>
    <!-- {{!-- Play Button --}} -->
    <div class="columns is-mobile has-text-centered">
        <div class="column">
            <a class="button is-primary" id="playbtn">PLAY NEW GAME!</a>
        </div>
    </div>

    <!-- {{!-- Leaderboards --}} -->
    <div class="container">
        <div class="notification">
            <div class="columns is-mobile is-centered" id="landing-page-container">
                <div class="column leaderboard is-narrow">
                    PERSONAL BEST
                    <div class="column">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Level (Difficulty)</th>
                                    <th>Score (Sec)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Easy</td>
                                    <td>10.5</td>
                                </tr>
                                <tr>
                                    <td>Medium</td>
                                    <td>20.2</td>
                                </tr>
                                <tr>
                                    <td>Hard</td>
                                    <td>45.2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column leaderboard is-narrow">
                    GLOBAL LEADERBOARD
                    <div class="column">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Level (Difficulty)</th>
                                    <th>Score (Sec)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Barack Obama</td>
                                    <td>Easy</td>
                                    <td>12.4</td>
                                </tr>
                                <tr>
                                    <td>George Lucas</td>
                                    <td>Easy</td>
                                    <td>19.4</td>
                                </tr>
                                <tr>
                                    <td>Prince</td>
                                    <td>Easy</td>
                                    <td>52.2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- {{!-- Footer --}} -->
    <div class="columns">
        <div class="column is-12 content has-text-centered" id="footer">
            <p>
                <strong>Whack-A-Bug</strong> by <a href="https://www.github.com">ERA</a>. The source code is
                licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </div>
</body>

</html>